.container-fluid.tutorial-container
  #leftside.col-md-3
    #return-back
      a(ui-sref='main')
        i.icon-arrow-left  
        | Back
    hr
    h2.text-center {{tutorialName}}
    hr
    #progress-indicator.text-center
      span.progress-marker(ng-repeat='step in steps', ng-class='{active: step.number === currentStep.number}')
        svg(xmlns='http://www.w3.org/2000/svg', version='1.1', style='width:30px; height:30px;', ng-click='changeStep(step.number)')
          circle(cx='50%', cy='50%', r='50%', fill='#008BB8')
          text(x='50%', dy='50%', text-anchor='middle', dominant-baseline='central', fill='white') {{step.number}}
    div(fade-on-change='currentStep.question')
      hr
      #instructions.text.body
        p {{currentStep.question.about}}
      #assignment.text.body
        h3 Assignment
        div(ng-bind-html='currentStep.question.assignment')
        br
        pre
          code {{currentStep.question.command_expected|codeArray}}
      div(ng-show="currentStep.question.tip")
        hr
        #tips
          .tiptext
            h3 Tips
            #tipShownText(ng-bind-html='currentStep.question.tip')
  #rightside.col-md-9
    terminal
