.container-fluid.tutorial-container
  #leftside.col-md-3
    #return-back
      a(href='#')
        i.icon-arrow-left  
        | Back
    hr
    #step-indicator
      span Step {{currentStep.number}}
    hr
    #progress-indicator.text-center
      span.progress-marker(ng-repeat='step in steps')
        svg(xmlns='http://www.w3.org/2000/svg', version='1.1', style='width:30px; height:30px;', ng-click='changeStep(step.number)')
          circle(cx='50%', cy='50%', r='50%', fill='#008BB8')
          text(x='50%', dy='50%', text-anchor='middle', dominant-baseline='central', fill='white') {{step.number}}
    hr
    #instructions.text.body(ng-bind-html='currentStep.question.html')
    #assignment.text.body
      h3 Assignment
      div(ng-bind-html='currentStep.question.assignment')
    hr
    #command
      .text
        a.h3(ng-click='toggleAnswer()')
          i.icon-question-sign
          | Show the answer
        #commandShownText(ng-hide='answerHidden')
          code {{currentStep.question.command_expected|codeArray}}

    hr
    #tips
      .tiptext
        h3 Tips
        #tipShownText(ng-bind-html='currentStep.question.tip')
  #rightside.col-md-9
    terminal
