header
  .container
    h2 Subscription Manager CLI Tutorial


    ul
      li
        a(href='tutorial/regandsub') REGISTERING AND SUBSCRIBING A SYSTEM
      li
        a(href='tutorial/about') ABOUT YOUR SYSTEM
      li
        a(href='tutorial/repos') WORKING WITH REPOSITORIES
