header
  .container
    h2 Subscription Manager CLI Tutorial

    .row
      div.col-md-4
        div.card.card-w-cta(style='height: 300px;')
          h3.card-heading REGISTERING AND SUBSCRIBING A SYSTEM
          p
            | Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce libero urna, sagittis sit amet metus nec, commodo congue est. Quisque consectetur dolor posuere arcu molestie, a volutpat lacus feugiat.
          p
            a.btn.btn-primary.btn-block.tutorial-link(href='tutorial/regandsub') Try It
      div.col-md-4
        div.card.card-w-cta(style='height: 300px;')
          h3.card-heading ABOUT YOUR SYSTEM
          p
            | Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce libero urna, sagittis sit amet metus nec, commodo congue est. Quisque consectetur dolor posuere arcu molestie, a volutpat lacus feugiat.
          p
            a.btn.btn-primary.btn-block.tutorial-link(href='tutorial/about') Try It
      div.col-md-4
        div.card.card-w-cta(style='height: 300px;')
          h3.card-heading WORKING WITH REPOSITORIES
          p
            | Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce libero urna, sagittis sit amet metus nec, commodo congue est. Quisque consectetur dolor posuere arcu molestie, a volutpat lacus feugiat.
          p
            a.btn.btn-primary.btn-block.tutorial-link(href='tutorial/repos') Try It
